.quiz {
    max-width: 800px;
    &-progress {
        @extend %flex-between;
        margin-bottom: 2rem;
        &-indicator {
            position: relative;
            width: 15rem;
            height: 1rem;
            border-radius: $radius;
            overflow: hidden;
            background-color: $grey;
            @include for-size(small) {
                width: 12rem;
            }
            @include for-size(extra-small) {
                width: 10rem;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 10%;
                height: 100%;
                background-color: $green;
                transition: $ease-trans;
            }
        }
    }
    &-question {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        text-transform: unset;
        line-height: 1.25;
        @include for-size(small) {
            font-size: 1rem;
        }
    }
    &-answers {
        list-style-type: upper-latin;
        list-style-position: inside;
        line-height: 1.25;
        &.disabled {
            pointer-events: none;
        }
        li {
            padding: 0.75rem 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: $radius;
            background-color: $primary-clr;
            color: $white;
            cursor: pointer;
            &:last-child {
                margin-bottom: unset;
            }
            &:hover {
                background-color: $primary-clr-2;
            }
            &.correct {
                background-color: $green;
            }
            &.incorrect {
                background-color: $red;
            }
        }
    }
    &-footer {
        margin-top: 2rem;
        text-align: right;
    }
}
